:root {
	--background-color: #ffcb05;
	--body-text-color: #3466af;
	--highlight-text-color: #ff0000;
	--button-border-color:  #cc0000;
	--button-background-color: #ff0000;
	--button-text-color:  white;
}

* {
	box-sizing: border-box;
}

/* Body formating */
body {
	background: var(--background-color);
	color: var(--body-text-color);
	font-family: 'Press Start 2P', cursive;
	font-weight: 100;
	font-size: 18px;
	line-height: 2;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: auto;
}

/* Highlight color formating for "wow..." text*/
.big_pokemon {
	color: var(--highlight-text-color);
}

/* Pokemon button list formating */
.pokemon-list{
	list-style: none;
	justify-content: center;
}

/* Pokemon button formating */
.pokemon-button {
	border-color: var(--button-border-color);
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border-radius: 7px;
	height: auto;
	min-height:  40px;
	width:  300px;
	margin: 3px 0;
	margin-right: 40px;
	font-family: 'Press Start 2P', cursive;
	font-weight: 100;
	font-size: 14px;
}

/* Pokemon button hover formating */
.pokemon-button:hover {
	border-color: var(--button-border-color);
	background-color: var(--button-border-color);
	cursor: pointer;
}

/* Hiding modal */
#modal-container {
  display: none;
}

/* Modal styling when visible */
#modal-container.is-visible {
  display: block;
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  
  /* to show it above other content */
  z-index: 999; 
  
  /* to allow scrolling if the screen is not high enough*/
  overflow: auto; 
  
  /* this is used to center the modal */  
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 700px;
  text-align: left;
}

/* Modal closing button styling */
.modal-close {
  float: right;
  -webkit-appearance: none;
  border: 3;
  border-radius: 25%;
  background: none;
  color: black;
  text-decoration: none;
}

/* Modal closing button styling when hovering over it*/
.modal-close:hover {
  float: right;
  -webkit-appearance: none;
  border: 3;
  border-radius: 25%;
  background: red;
  color: black;
  text-decoration: none;
}