:root {
	--background-color: #ffcb05;
	--body-text-color: #3466af;
	--highlight-text-color: #ff0000;
	--button-border-color:  #cc0000;
	--button-background-color: #ff0000;
	--button-text-color:  white;
}

* {
	box-sizing: border-box;
}

/* Body formating */
body {
	background: var(--background-color);
	color: var(--body-text-color);
	font-family: 'Press Start 2P', cursive;
	font-weight: 100;
	font-size: 18px;
	line-height: 2;
	margin: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: auto;
}

/* container formating*/
.container-fluid {
	padding: 0 15px;
}

/* Pokedex header formating*/
h1 {
	padding-top: 15px;
}

/* Pokemon button formating */
.btn {
	border-color: var(--button-border-color);
	background-color: var(--button-background-color);
	color: var(--button-text-color);
	border-radius: 7px;
	height: auto;
	min-height:  40px;
	width:  400px;
	font-family: 'Press Start 2P', cursive;
	font-weight: 100;
	font-size: 14px;
}

/* Overriding bootsrap formating */
.list-group-item {
	background: var(--background-color);
	border:  none;
	margin: 0;
	padding:  5px 0;
}

/* Overriding bootsrap Pokemon button hover formating */
.btn:hover {
	border-color: var(--button-border-color);
	background-color: var(--button-border-color);
	cursor: pointer;
}

/* resizing the image*/
.image-element {
	height: 200px;
	width: auto;
}

#pokemon-logo {
	height: 70px;
	width: auto;
	padding-right: 15px;
}

/* Making modal responsive to smaller screen sizes*/
@media all and (max-width: 768px) 
 {
    body
    {
        font-size: 17px; 
        background: var(--background-color);
		color: var(--body-text-color);
		font-family: 'Press Start 2P', cursive;
		font-weight: 100;
		line-height: 2;
		margin: auto;
		display: flex;
		flex-direction: column;
		text-align: center;
		width: auto;
    }
    h1
    {
        font-size:24px;
    }

    .titleElement {
    	font-size: 16px;
    }

    .contentElement .typesElement {
    	font-size: 10px;
    }

    .modal {
    	width: auto;
    }

    .btn {
    	width:  200px;
    }

    .col {
    	padding: 0 0;
    }